:root{
  --headerGradient: #3396ff8a, #99caffc2;
  --colorPrimary: #006fe6;
  --darkestBlue: #050F19;
  --chipBorder: #DBFFDB;
  --chipBg: #219B21;
  --textColor: #111111;
  --youtubeSubtitle: #444444;
  --falseBg: hsl(210, 100%, 92%);
  --codeHeader: #393939;
  --codeBody: #1A1A1A;
  --testBorder: #0F2D4C;
}

*, *::before,*::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: aktiv-reg, Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: -.2px;
}

h1{
  letter-spacing: -.5px;
}

button{
  cursor:pointer;
}

html{
  font-size: 62.5%;
}

@font-face {
  font-family: aktiv-reg;
  src: url("../assets/fonts/AktivGrotesk-Regular.ttf");
}

@font-face {
  font-family: aktiv-med;
  src: url("../assets/fonts/AktivGrotesk-Medium.ttf");
}

@font-face {
  font-family: aktiv-bold;
  src: url("../assets/fonts/AktivGrotesk-Bold.ttf");
}