.quiz-inner .question{
    margin: 1rem 0rem;
    font-size: 1.4rem;
    color: var(--textColor);
    letter-spacing: -.3px;
    line-height: 1.5;
}

.answers button{
    padding: .6rem 2rem;
    background-color: var(--colorPrimary);
    border:none;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    color:white;
    margin: 0 2rem 0 0;
    font-family: aktiv-med;
    text-transform: capitalize;
}

.answers button:last-of-type{
    background-color: var(--falseBg);
    color: var(--testBorder);
}

.answers button.clicked-right{
    border : 2px solid rgb(156, 156, 245) ;
    scale:1.1;
}

.answers button.clicked-wrong{
    border : 2px solid rgb(245, 156, 156) ;
    scale:1.1;
}

@media screen and (min-width:600px) {
    .quiz{
        margin: 2rem 0rem;
    }
}