.article-resources .article{
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 2rem 0rem;
    padding-bottom: 1rem;
}

.article-resources a{
    text-decoration: none;
    color:initial;
}

.article-resources .article:not(:last-of-type){
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.article > img{
    max-width: 1.4rem;
    margin: 0 1rem 0 0;
}



.other-info .article-heading{
    display: flex;
    align-items: start;
}

.article-heading > img{
    max-width: 1.8rem;
}

.article-heading h1{
    font-weight: normal;
    font-family: aktiv-bold;
    font-size: 1.4rem;
    color:var(--darkestBlue);
}

.other-info .source{
    font-size:1.2rem;
    opacity: .8;
}

@media screen and (min-width:600px) {
    .article-resources .article{
        margin: 3rem 0rem;
    }

    .article-heading h1{
        font-size: 1.6rem;
    }
}